

/* @group Archives */

/* ----- ARCHIVES ----- */

.top-archive {
	font-size:1.2em; 
	padding: 0;
}

.page-template-archives .top-archive,
.rubr_archives .top-archive {
	font-size:2em; 
	padding: 0;
}

ul.top-archive {
	list-style-type:none;
	padding:0;
	margin:0 0 10px 0;
}
ul.top-archive li {display:inline;}
.top-archive a {text-decoration:none;}
.top-archive a:hover {text-decoration:underline;}
	
.contenu.archives h1,
#contenu.archives p {margin-left:10px;}

.contenu.archives ul {
	list-style-type:none;
	padding:0;
	margin:0 10px 30px 10px;}
	
.contenu.archives ul li {margin-bottom:20px;}
.uppercase {text-transform:uppercase;}

.separateurs li:after {
	content: " | ";
}
.separateurs li:last-child:after {
	content: "";
}

.page-template-archives .separateurs li:after {
	content: " ";
}


/* @end */

.soutiens img,
.page-id-1697 img,
.rubrique_liens_soutiens img {
	display: block;
	float: left;
	margin: 10px;
	padding: 8px;
	-moz-box-shadow: 0 0 10px #ececec;
	-webkit-box-shadow: 0 0 10px #ececec;
	box-shadow: 0 0 10px #ececec;
	border: 4px double #d0d0d0;
}

.page-id-1697 .entry-content  p:last-of-type,
.rubrique_liens_soutiens .entry-content  p:last-of-type {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}


/* @group AFFICHES */

.liste-affiches {
	width: 100%;
	margin: 0;
	padding: 0;
}

.affiche {
	display: block;
}

.affiche img {
	display: block;
	min-height: 100px;
	background-color: #bbb;
	width: 100%;
	height: auto;
	border: 1px solid #999;
	transition: border-color 0.3s ease;
}

.affiche img:hover,
.affiche img:focus {
	border-color: #000;
}

.affiche-meta {
	padding: 1em 0.5em 2em;
	font-size: 0.8em;
	line-height: 1.1;
}

.affiche-credits {
	padding-top: 5px;
}


@media only screen and (min-width: 360px) {

.liste-affiches {
		display: grid;
		grid-template-columns: 48% 48%;
		grid-column-gap: 4%;
	}

}

@media only screen and (min-width: 420px) {

.liste-affiches {
		grid-template-columns: 32% 32% 32%;
		grid-column-gap: 2%;
	}

}

@media only screen and (min-width: 540px) {

.liste-affiches {
		grid-template-columns: repeat(4, 24%);
		grid-column-gap: 1%;
	}

}

@media only screen and (min-width: 640px) {

.liste-affiches {
		grid-template-columns: repeat(5, 19%);
	}

}

@media only screen and (min-width: 740px) {
	
	.liste-affiches {
		grid-template-columns: 32% 32% 32%;
		grid-column-gap: 2%;
	}
	
}

@media only screen and (min-width: 900px) {
	
	.liste-affiches {
		grid-template-columns: repeat(4, 24%);
		grid-column-gap: 1%;
	}
	
}

@media only screen and (min-width: 1000px) {
	
	.liste-affiches {
		grid-template-columns: repeat(5, 19%);
	}
	
}

@media only screen and (min-width: 1200px) {
	
	.liste-affiches {
		grid-template-columns: repeat(6, 16%);
	}
	
}


/* @end */

/* @group Artistes */

.toc-alphabetic {
	font-size: 180%;
	margin-top: 0;
}
.toc-alphabetic a {
	text-decoration: none;
}

.toc-anchor {
	border-bottom: 2px solid #333;
	border-top: 2px solid #333;
	margin-bottom: 0.2em;
	padding-bottom: 0.1em;
	padding-left: 0.3em;
	margin-top: 0.2em;
}

.ul-initiale {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ul-initiale li {
	display: inline;
}

.lien-mot::after {
	content: " — ";
}

.lien-mot:last-of-type::after {
	content: "";
}

/* @end */

/* @group List of Concerts */

a.li-co {
	display: block;
	cursor: pointer;
	text-decoration: none;
}

.li-co h3 {
	text-decoration: underline;
	font-size: 100%;
	margin-top: 1em;
	margin-bottom: 0.2em;
}
a.li-co .date {
	color: #333;
	margin-top: 0em;
	margin-bottom: 1.5em;
}

a.ar-co-pre {
	background: #ddd;
	min-height: 9em;
	padding: 1em;
	background-size: cover;
}

/* with images */

.li-co-in {
	background: #fff;
	padding: 0.1em 1em;
	width: auto;
	max-width: 50%;
}

/* @end */

/* @group Search */

.search-results article {
	padding: 10px;
	width: 96%;
	float: left;
	clear: left;
	margin: 10px 0;
	border-color: #aaa;
	border-width: 4px;
	border-style: double;
}

.search-results  h3 {
	margin-top: 0;
}

.search-form {
	margin: 0;
	padding: 0;
	display: inline;
	border: 0;
	margin: 0.6em 1em 0 1em;
}

.search-form input {
	width: 100px;
}

.search-form input[type="submit"] {
	display: none;
}

/* @end */

/* @group Google Maps */

.mot-lieu {
	display: block;
	clear: left;
	float: left;
	padding: 16px 0 16px 0;
	margin: 0px 0 0 14px;
	margin:  0;
	position: relative;
	width: 100%;	
}

.mot-lieu a {
	color: #d4d2cd;
	display: block;
	width: 76px;
	height: 53px;
	background-image: url("images/map-icon-2.png");
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	border: 1px solid #000;
}

.mot-lieu a:hover {
	border-color: #666;
}

.concert-series .mot-lieu {
	clear: none;
	padding-top: 7px;
}


#map_canvas { 
    width:  100%;
    height: 300px;
    border: 1px solid #000;
 }
 
#map-container #map_canvas {
	margin-top: 10px;
}

/* @end */


/* @end */

/* @group FOOTER */

.bloc-navig { 
	padding-bottom: 2em;
	float: left;
	width: 100%;
}

.bloc-navig ul {
	padding: 0;	
	margin: 0.6em 1em 0 1em;
	font-size: 110%;
	clear: left;
	float: left;
	width: 92%;
}
	
ul.navigation-top {
		border-top: 2px solid #333;
		padding-top: 1.5em;
}
	
.bloc-navig ul li {
	display: block;
	
	float: left;
	margin-right: 0.4em;
	margin-bottom: 1em;
	}
	
.bloc-navig li a {
	border: 1px solid red;
	padding: 0.1em 0.5em 0.3em 0.5em;
}
	
.bloc-navig li.nav-search {
	clear: left;
	margin-top: 1em;
	border: 0px;
}

#admin {border:0px solid black;font-size:3em;
		position:fixed;top:0;right:0;
		width:100px;height:50px;
		text-align:right;}
#admin a {text-decoration:none;}


/* @end */



/* --- PLUGIN LIENS SORTANTS --- */

a.external {background-image: none !important;
padding-right: 0px !important;}

/* --- formulaires --- */
.contenu .surlignable .form-text,
.contenu .surlignable .button {font-size:1.1em}


/* @group Ouverture 2013 */

body.inauguration-2013 {
	background: #fff;
}
.inauguration-2013 .contenu {
	text-align: center;
	padding-left: 0px;
}
.lien-inauguration img {
	max-width: 100%;
	height: auto;
}

/* @end */




